{% extends 'blog/base.html' %}
{% load breakpoint %}
{% block content %}
    <h1>All Posts</h1>
    {% for post in posts %}
    <article class="media">
        <div class="media-body">
          <div class="article-metadata">
            <img src="{{post.author.profile.image.url}}" alt="" class="img-thumbnail" style="max-height: 50px; max-width: 50px;">
            <p>Posted By: {{post.author.username}}</p>
            <a class="mr-2" href="{% url 'blog-show' post.id %}">{{ post.title }}</a>
          </div>
          <h2>{{ post.content }}</h2>
          <a href="{% url 'create-comment' post.id%}">Add a Comment</a>
          {{post.comments.count}}Comments
        </div>
      </article>
    {% endfor %}

{% endblock content %}


{% block content1 %}
  <h3>Featured Blogs</h3>
  <ul class="list-group">
    {% for post in featured_posts %}
    <li class="list-group-item list-group-item-light">
      <p>Posted By: {{post.author.username}}</p>
      <a class="mr-2" href="{% url 'blog-show' post.id %}">{{ post.title }}</a>
      <p>{{ post.content }}</p>
    </li>
    <br>
    {% endfor %}
  </ul>
{% endblock content1 %}
