{% extends 'blog/base.html' %}
{% load breakpoint %}
{% block content %}
    <h1>This is a home page</h1>
    {% for post in posts %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.title }}</a>
          </div>
          <h2><a class="article-title" href="#">{{ post.content }}</a></h2>
          <img src="{{post.author.profile.image.url}}" alt="">
        </div>
      </article>
    {% endfor %}
{% endblock content %}
